In [ ]:
#For UCSD Guardian Article
#Link to Data: http://www.cdss.ca.gov/refugeeprogram/PG1537.htm
#Link to Article: http://ucsdguardian.org/2016/10/18/san-diego-tops-state-in-refugee-resettlement/
#Author: Ayat Amin
#Date: 10/12/2016

In [2]:
import pandas as pd
import numpy as np

C:\Users\Ayat Amin\Anaconda3\lib\site-packages\pandas\computation\__init__.py:19: UserWarning: The installed version of numexpr 2.4.4 is not supported in pandas and will be not be used

  UserWarning)

In [3]:
f_2011 = pd.read_excel('Arrivals2011.xlsx')
f_2012 = pd.read_excel('Arrivals2012.xlsx')
f_2013 = pd.read_excel('Arrivals2013.xlsx')
f_2014 = pd.read_excel('Arrivals2014ToDate.xlsx')
f_2015 = pd.read_excel('Arrivals2007to2016current.xlsx')
f_2016 = pd.read_excel('Arrivals2016_by_county.xlsx')

In [4]:
f_2015.iloc[22, :]

COUNTY    TOTAL
Oct-14      583
Nov-14      409
Dec-14      438
Jan-15      527
Feb-15      246
Mar-15      369
Apr-15      401
May-15      393
Jun-15      349
Jul-15      354
Aug-15      531
Sep-15    1,109
TOTAL     5,709
Name: 22, dtype: object

In [5]:
t10 = []
t11 = []
t12 = []
t13 = []
t14 = []
t15 = []
t16 = []
    
for i in range(4,13):
    t10.append(0)
    t11.append(f_2011.iloc[58,:][i])
    t12.append(f_2012.iloc[58,:][i])
    t13.append(f_2013.iloc[25,:][i])

for i in range(4,13):
    t14.append(f_2014.iloc[25,:][i])
    t15.append(f_2015.iloc[22,:][i])
    
for i in range(4, 12):
    t16.append(f_2016.iloc[19,:][i])

for i in range (1,4):
    t10.append(f_2011.iloc[58,:][i])
    t11.append(f_2012.iloc[58,:][i])
    t12.append(f_2013.iloc[25,:][i])
    t13.append(f_2014.iloc[25,:][i])
    t14.append(f_2015.iloc[22,:][i])
    t15.append(f_2016.iloc[19,:][i])
    t16.append(0)
t16.append(0)
    
d = [t10, t11, t12, t13, t14, t15, t16]
d

[[0, 0, 0, 0, 0, 0, 0, 0, 0, 571, 555, 412],
 [548, 412, 166, 144, 374, 387, 404, 526, 475, 267, 256, 198],
 [350, 383, 322, 314, 470, 478, 538, 672, 935, 588, 682, 510],
 [341, 481, 556, 486, 425, 584, 503, 542, 684, 240, 596, 465],
 [663, 588, 374, 315, 448, 855, 605, 526, 444, 583, 409, 438],
 [527, 246, 369, 401, 393, 349, 354, 531, '1,109', 477, 441, 407],
 [478, 333, 518, 558, 441, 620, 764, '1,425', 0, 0, 0, 0]]

In [6]:
years = ['2010', '2011', '2012', '2013', '2014', '2015', '2016']
months = [ 'Jan','Feb', 'Mar', 'Apr', 'May','Jun', 'Jul',
          'Aug', 'Sep', 'Oct', 'Nov', 'Dec',]

totals = pd.DataFrame(d, columns = months, index = years)
totals

      Jan  Feb  Mar  Apr  May  Jun  Jul    Aug    Sep  Oct  Nov  Dec
2010    0    0    0    0    0    0    0      0      0  571  555  412
2011  548  412  166  144  374  387  404    526    475  267  256  198
2012  350  383  322  314  470  478  538    672    935  588  682  510
2013  341  481  556  486  425  584  503    542    684  240  596  465
2014  663  588  374  315  448  855  605    526    444  583  409  438
2015  527  246  369  401  393  349  354    531  1,109  477  441  407
2016  478  333  518  558  441  620  764  1,425      0    0    0    0

In [7]:
import plotly
import plotly.plotly as py
import plotly.graph_objs as go
plotly.tools.set_credentials_file(username='ayatamin', api_key='d9z1mogc01')

In [8]:
data = [go.Heatmap(z = d, x = months, y = years, zmax = 2000, 
            colorscale = 'PRGn')]
py.iplot(data, filename='HeatMapRefugeesToCali')